<div class="row" [highlight]="[highlightColor]">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-4">
        {{courseData.name}}
      </div>
      <div class="col-sm-4">
        {{courseData.duration}} min
      </div>
      <div class="col-sm-4 text-right">
        {{courseData.publishDate}}
      </div>
    </div>
    <div class="row">
      {{courseData.description}}
    </div>
  </div>
  <div class="col-sm-3 course-buttons">
    <div class="row text-right">
      <button type="button" class="btn btn-warning">Edit</button>
    </div>
    <div class="row text-right">
      <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>
  </div>
</div>
